// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body & Locked
body {
  font-family: $fontMain;
  background: $background;
  overflow-x: hidden;
  &.locked {
    overflow: hidden;
  }
  // Dark mode styles
  &.dark {
    background: #242424;
  }
}

//Button
.button {
  font-family: $fontMain;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-transform: capitalize;
  color: $white;
  padding: 11px 23px;
  background: $royalblue;
  border-radius: 100px;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  &:hover {
    background: transparent;
    border: 1px solid $white;
  }
  &--signin {
    border: 1px solid $white;
    border-radius: 100px;
    padding: 12px 24px;
    background: transparent;
    &:hover {
      color: $black;
      background: $white;
    }
  }
}

//Sections
.section {
  &__getstarted {
    margin-bottom: 120px;
  }
  &__features {
    margin-bottom: 120px;
  }
  &__exchange {
    margin-bottom: 120px;
  }
  &__choose-us {
    margin-bottom: 160px;
  }
  &__media {
    margin-bottom: 100px;
  }
  &__mobile-app {
    margin-bottom: 100px;
  }
}

//Title / text
.title {
  font-family: "Sofia Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 49px;
  line-height: 54px;
  color: $white;
}
.text {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $base-gray-20;
}

//Swiper

.swiper-pagination {
  margin-top: 25px;
}
.swiper-wrapper {
  margin-bottom: 30px;
}
.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: #34384c !important;
  border-radius: 20px !important;
}
.swiper-pagination-bullet-active {
  width: 27px !important;
  height: 8px !important;
  background: linear-gradient(
    265.56deg,
    #246cf9 -0.27%,
    #1e68f6 -0.26%,
    #0047d0 98.59%
  ) !important;
  border-radius: 20px !important;
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
