//SECTION GETSTARTED

.getstarted {
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 640px;
  }
  &__title {
    font-size: 61px;
    margin-bottom: 24px;
    line-height: 67px;
  }

  &__text {
    font-size: 18px;
    line-height: 27px;
    max-width: 520px;
    margin-bottom: 48px;
  }
  &__button {
    padding: 18px 45px;
    font-size: 18px;
    line-height: 29px;
  }
  &__image {
    position: absolute;
    left: 50%;
    top: 71px;
    user-select: none;
  }
  &__swiper {
    margin-top: 95px;
  }
}

.crypto {
  &__img {
    width: 44px;
    height: 44px;
  }
  &__slide {
    width: 322px !important;
    background: rgba(47, 50, 65, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    padding: 24px;
  }

  &__slide-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__slide-percent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    .persents {
      font-family: "Graphik";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      &--green {
        color: $accent-green;
      }
      &--red {
        color: $red;
      }
    }
  }

  &__slide-name {
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    color: $base-gray-40;
    margin-bottom: 11px;
  }

  &__slide-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .price {
      font-family: "Graphik";
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 27px;
      color: $white;
    }
    .name {
      color: $base-gray-60;
    }
  }
}

// SECTION FEATURES

.features {
  &__items {
    display: grid;
    grid-template-columns: 285px 285px 455px;
    align-items: center;
    gap: 24px;
  }

  &__cards {
    display: grid;
    gap: 24px;
    align-items: center;
  }

  &__card {
    width: 285px;
    padding: 40px 28px;
    background: rgba(47, 50, 65, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--center {
      align-self: center;
    }
  }

  &__info {
    margin-left: 44px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 32px;
  }

  &__btn {
    padding: 16px 54px;
    font-size: 16px;
    line-height: 26px;
  }
}
.card {
  &__icon {
    margin-bottom: 40px;
    width: 91px;
    height: 91px;
    border-radius: 50%;
    background: $base-gray-80;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: $white;
  }

  &__info {
    color: $base-gray-40;
    text-align: center;
  }
}

//SECTION EXCHANGE

.exchange {
  display: grid;
  grid-template-columns: 570px 447px;
  justify-content: space-between;
  &__info {
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__scheme {
  }

  &__functions {
    width: 447px;
    height: 480px;
    background: rgba(47, 50, 65, 0.5);
    backdrop-filter: blur(6.5px);
    border-radius: 20px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 27px;
    margin-bottom: 48px;
    span {
      height: 24px;
      width: 1px;
      background: $base-gray-80;
    }
  }

  &__buy {
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .buy {
    font-family: "Graphik";
    &__subtitle {
      margin-bottom: 8px;
      margin-left: 50px;
    }
    &__info {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      gap: 39px;
      margin-bottom: 25px;
    }
    &__price {
      font-weight: 600;
      font-size: 25px;
      line-height: 27px;
      color: $white;
      span {
        font-weight: 400;
        font-size: 18px;
        color: $base-gray-60;
      }
    }
    &__claim {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $base-gray-40;
      span {
        font-weight: 800;
      }
    }
  }

  &__btn {
    font-family: "Graphik";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: $base-gray-60;
    &--active {
      color: #246cf9;
    }
  }
  &__buy-btn {
  }
  &__inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__input-item {
    position: relative;
    margin-bottom: 35px;
  }

  &__input {
    background-color: transparent;
    padding: 16px 100px 16px 1px;
    border-bottom: 1px solid $base-gray-80;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: $white;
    width: 350px;
  }

  &__currency {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    right: -65px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 17px;
    ::before {
      content: "";
      position: absolute;
      top: 50%;
      bottom: 50%;
      transform: translate(-50%, -50%);
      left: 0;
      width: 1px;
      height: 32px;
      background: $base-gray-80;
    }
  }

  &__currency-icon {
  }

  &__currency-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: $white;
  }
}
.arrow {
}

.scheme {
  &__item {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 32px;
    &:nth-child(1) {
      margin-left: 38px;
    }
    &:nth-child(2) {
      margin-left: 108px;
    }
    &:nth-child(3) {
      margin-left: 192px;
    }
  }

  &__icon {
    width: 91px;
    height: 91px;
    border-radius: 50%;
    background: rgba(47, 50, 65, 0.5);
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__descr {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: $white;
  }
}

// SECTION CHOOSE-US

.choose-us {
  position: relative;
  display: flex;
  justify-content: flex-end;
  &__image {
    position: absolute;
    top: 50px;
    left: -170px;
  }
  &__items {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__features {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__features-item {
    display: flex;
    gap: 32px;
    width: 452px;
  }
}
.features-item {
  &__img {
    width: 111px;
    height: 111px;
    background: rgba(47, 50, 65, 0.5);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  &__text {
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: $white;
  }

  &__descr {
    color: $base-gray-40;
  }
}

// SECTION MEDIA

.section {
}
.media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  &__swiper {
  }

  &__names {
  }

  &__name {
  }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button-prev {
}
.swiper-button-next {
}

//SECTION MOBILE-APP

.mobile-app {
  &__items {
    display: flex;
    align-items: center;
    // gap: 40px;
  }

  &__image {
    width: 100%;
  }

  &__descr {
  }

  &__title {
    margin-bottom: 24px;
  }

  &__subtitle {
    margin-bottom: 48px;
  }

  &__text {
    margin-bottom: 24px;
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }

  &__btn {
    display: flex;
    flex-shrink: 0;
    gap: 24px;
    padding: 18px 55px;
    border: 1px solid $white;
    border-radius: 100px;
  }

  &__btn-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }
}

//SECTION REGISTRATION

.registration {
  text-align: center;
  max-width: 830px;
  margin: 0 auto;
  &__subtitle {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 27px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__form {
    position: relative;
    width: 462px;
    margin: 0 auto;
  }

  &__input {
    padding: 25px 168px 25px 32px;
    background: rgba(47, 50, 65, 0.5);
    border: 1px solid $base-gray-80;
    border-radius: 100px;
    color: $base-gray-60;
    width: 100%;
    border: none;
  }

  &__btn {
    cursor: pointer;
    position: absolute;
    padding: 16px 32px;
    right: 8px;
    top: 5px;
  }
}
