//SECTION GETSTARTED

.getstarted {
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 640px;
  }
  &__title {
    font-size: 61px;
    margin-bottom: 24px;
    line-height: 67px;
  }

  &__text {
    font-size: 18px;
    line-height: 27px;
    max-width: 520px;
    margin-bottom: 48px;
  }
  &__button {
    padding: 18px 45px;
    font-size: 18px;
    line-height: 29px;
  }
  &__image {
    position: absolute;
    left: 50%;
    top: 71px;
    user-select: none;
  }
  &__swiper {
    margin-top: 95px;
  }
}

.crypto {
  &__img {
    width: 44px;
    height: 44px;
  }
  &__slide {
    width: 322px !important;
    background: rgba(47, 50, 65, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    padding: 24px;
  }

  &__slide-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__slide-percent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    .persents {
      font-family: "Graphik";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      &--green {
        color: $accent-green;
      }
      &--red {
        color: $red;
      }
    }
  }

  &__slide-name {
    font-weight: 200;
    font-size: 16px;
    line-height: 24px;
    color: $base-gray-40;
    margin-bottom: 11px;
  }

  &__slide-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .price {
      font-family: "Graphik";
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 27px;
      color: $white;
    }
    .name {
      color: $base-gray-60;
    }
  }
}

// SECTION FEATURES

.features {
  &__items {
    display: grid;
    grid-template-columns: 285px 285px 448px;
    align-items: center;
    gap: 24px;
  }

  &__cards {
    display: grid;
    gap: 24px;
    align-items: center;
  }

  &__card {
    width: 285px;
    padding: 40px 28px;
    background: rgba(47, 50, 65, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--center {
      align-self: center;
    }
  }

  &__info {
    margin-left: 44px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 32px;
  }

  &__btn {
    padding: 16px 54px;
    font-size: 16px;
    line-height: 26px;
  }
}
.card {
  &__icon {
    margin-bottom: 40px;
    width: 91px;
    height: 91px;
    border-radius: 50%;
    background: $base-gray-80;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: $white;
  }

  &__info {
    color: $base-gray-40;
    text-align: center;
  }
}

//SECTION EXCHANGE

.exchange {
  display: grid;
  grid-template-columns: 570px 447px;
  justify-content: space-between;
  &__info {
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__scheme {
  }

  &__functions {
    width: 447px;
    height: 480px;
    background: rgba(47, 50, 65, 0.5);
    backdrop-filter: blur(6.5px);
    border-radius: 20px;
  }
}
.scheme {
  &__item {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 32px;
    &:nth-child(1) {
      margin-left: 38px;
    }
    &:nth-child(2) {
      margin-left: 108px;
    }
    &:nth-child(3) {
      margin-left: 192px;
    }
  }

  &__icon {
    width: 91px;
    height: 91px;
    border-radius: 50%;
    background: rgba(47, 50, 65, 0.5);
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__descr {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: $white;
  }
}
